.badges-container {
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
}

h4 {
    border-bottom: 2px solid black;
    display: inline-block;
    padding-bottom: 5px;
}

ul.t-detail {
    list-style-type: none;
    margin-top: 25px;
}

#close-add {
    font-size: 25px;
    margin-left: 75px;
    cursor: pointer;
    
}

#close-add:hover {
    color: #505050;
}

form {
    background: white;
    padding: 20px;
    margin-top: 10px;
}

