<div class="guidelines">
    <h1>Posting Rules</h1>
    <ol>
        <li>The context of the post must be related to the chosen sport.</li>
        <li>For news, posts that discuss issues raised in previous posts may be removed.</li>
        <li>Posts must not be fake.</li>
        <li>Posts must be original creations and not copyrighted content.</li>
        <li>The content of the post must be relevant.</li>
        <li>No spam.</li>
        <li>It is forbidden to upload links related to streamings.</li>
        <li>If your post makes it to the hot or top section, priority will be given to the one that was uploaded before.
        </li>
        <li>The title, description, and if necessary, poll options, must not be in capitals.</li>
        <li>The post must not be offensive.</li>
        <li>The post must be well written and of high quality.</li>
        <li>You cannot promote any brand or social media page on the post.</li>
    </ol>
</div>