/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

$base-blue: #4264d0;
$base-black: #000000d6;
$base-gray: #7c7c7c;




.trivia-container {
  padding: 16px 16px 38px 16px;
  width: 100%;
  background: white;
}

.trivia-top {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  position: relative;
}

.countdown-container, .timing-info  {
  position: absolute;
    top: 0px;
}



#countdown {
  position: relative;
  margin: auto;
  height: 40px;
  width: 40px;
  text-align: center;
}

#countdown-number {
  color: rgb(12, 12, 12);
  display: inline-block;
  line-height: 50px;
  font-weight: bold;
  font-size: 15px;
}


.svg-circle {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

.svg-cirlce circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 3px;
  stroke: #4264d0;
  fill: none;
 
}

.svg-circle circle.entered {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 3px;
  stroke: #4264d0;
  fill: none;
  animation: countdown 15s linear forwards infinite;
}


.wrong, .correct, .timeout, .back {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-weight: bold;
  color: white;
  font-size: 15px;
  padding: 0 10px;
}

.wrong, .timeout {
  background: #F42C40;

}

.correct {
  background: #21D36E;

}


.options-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trivia-option {
  margin: 5px 0;
  border-radius: 50px;
  border: 2px solid #ebedf2;
  overflow: hidden;
  height: 60px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  position: relative;
  cursor: pointer;
}

.trivia-option-result {
  margin: 5px 0;
  border-radius: 50px;
  border: 2px solid #e8e8e8;
  background: #ebedf2;
  overflow: hidden;
  height: 60px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 12px;
  position: relative;
}

.placeholder {
  height: 50px;
}

 .option-selected {
  background: #4264d0;
  border: 2px solid #4264d0;
  
}

.option-selected-after {
  background: #f098b5;
  border: 2px solid #f098b5;
}

.correct-option {
  background: #21D36E;
  border: 2px solid #21D36E;
  }



.after {
  background: #ebedf2 !important;
  border: 2px solid #ebedf2 !important;
}


div.inner {
  height: 50px;
}

div.effect {
  animation: .5s ease-out 0s 1 slideInFromLeft;
  background: #dbdbec; 
  height: 50px;
  
}


@keyframes slideInFromLeft {
  0% {
      width: 0%;
  }
  100% {
      width: 100%;
  }
}


.text-option {
  color: #262729;
  font-weight: 600;
  font-size: 18px;
}


.text-trivia-option-result {
  color: #262729;
  font-weight: 600;
  transition: color 0.5s;
  font-size: 18px;
  margin-left: 55px;
}



.picture-option {
  height: 48px;
  width: 48px;
  border-radius: 50px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 12px;
  position: absolute;
  /* top: 2px; */
  left: 4px;

}

.percentage-option {
  position: absolute;
  right: 30px;
  top: 20px;
  top: 50%;
  transform: translate(0, -50%);
  color: #262729;
  font-weight: 600;
  transition: color 0.5s;
  font-size: 16px;

}

.revealed-answer {
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}

.revealed {
  background: #4264d0;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  flex-direction: column;
  text-align: center;
}

.got-it {
  display: flex;
  background: #162044;
  width: 70px;
  align-items: center;
  justify-content: center;
  height: 34px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
 
}

.option-selected .text-option {
  color: white;
}

.text-selections {
  color: #7d7da0;
  font-weight: 500;
}


.question-container {
  margin: 35px 0 20px 0;
  text-align: center;
  padding: 0 10px;
  span {
      font-weight: bold;
      font-size: 22px;
  }
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}


//trivia end









.timeline-list {
  overflow-y: auto;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sorting__text {
  display: inline-block;
  margin:  0 5px;
  font-size: 1.5rem;
  font-weight: 500;
  color: $base-gray
  
}

.sort-active {
  color: $base-blue;
}

.sorting__icon {


  font-size: 18px;
  color: $base-gray;
  margin-right: 5px;
  
}

.post-actions__action--share {
  position: relative;
}


.sorting__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  

}

.share-post--aside {
  position: relative;
}

.sorting__options--aside {
  background: white;
  position: absolute;
  top: 0px;
  left: -113px;
  /* right: 10px; */
  width: 250px;
  z-index: 300;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 #1c1c1c33;
  overflow: hidden;
}




.bi-caret-down-fill {
  color: $base-gray;
}

.sorting__item {
  padding: 10px 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.sorting__item:hover {
  background: rgb(216, 216, 216);
}


button {
  background: none;
color: inherit;
border: none;
padding: 0;
font: inherit;
cursor: pointer;
outline: inherit;
}


.loading-button {
  display: -webkit-box;
display: -ms-flexbox; display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  height: 32px;
}



.article {
  margin-bottom: 25px;
}

.league {
  font-weight: bold;
}

.background-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;

    .take-container {
      border-radius: 8px;
        background: white;
        overflow: hidden;

        width: 700px;
   
    }


$base-gray: #7c7c7c;

:host ::ng-deep iframe {
  width: 100%;
  height: 100%;

}

.sticky {
  position: fixed;
  top: 55px;
  background: white;
  width: 700px;
  z-index: 100;
}
/* TEST ALL DETAL */

.back-icon {
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.go-back {
 
  height: 30px;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 10px;
  border-bottom: 1px solid #EDEFF1; ;

  margin-bottom: 16px;
  height: 50px;
}

.take {
  background: white;
  margin-bottom: 1px;
  padding: 0px 0 16px 0;

  
}

.provider-name {
  text-transform: lowercase;
}



.more-icon {
  margin-right: 16px;
}



.league {
  margin-right: 3px;
}





.reply-icon {
  font-size: 15px;
  margin-right: 5px !important;
}





button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.add-comment {
  border-radius: 4px;
  overflow: hidden;
  background: white;
  border: 1px solid #dcdddf;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;

  .add-comment__textarea-container {
      overflow: hidden auto;
      padding: 8px 0px;
      resize: vertical;
  }

  .add-comment__textarea:focus {
      opacity: 1;
  }


  .add-comment__textarea {
           
    overflow-wrap: break-word;
    height: 56px;
    padding: 0;
    opacity: .5;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 20px;
    background: transparent;
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    outline: none;
    resize: none;
    width: 100%;
    height: 100%;
    padding: 0 16px;
}

.mid-textarea {
    height: 100%;
}

  
}


.send-comment {
  height: 42px !important;
  padding: 3px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  .send-comment__button {
      line-height: normal;
      margin: 4px 8px;
      min-height: 27px;
      min-width: 96px;
      -ms-flex-order: 2;
      -webkit-box-ordinal-group: 3;
              order: 2;
      padding: 5px 10px;
      background: $base-blue;

      border: 1px solid transparent;
      border-radius: 4px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      text-align: center;
      text-decoration: none;
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      padding: 3px 16px;
      color: white;
  }

  .send-comment__button:hover {
      opacity: .5;
  }
}

.focused {
  border: 1px solid black !important;
}

.add-comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  .add-comment-user {
      margin-right: 15px;
      width: 40px;
      img {
          height: 40px;
          width: 40px;
          border-radius: 50px;
          -o-object-fit: cover;
             object-fit: cover;
      }
  }
}


.sorting {
  height: 40px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dcdddf;
 
  
}

.sorting__container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  cursor: pointer;
  position: relative;



  .sorting__icon {

      path, #Rectangel-15 {
          fill: $base-blue;
          stroke: $base-blue;
      }
      width: 13px;
      
  }


.sorting__text {
  display: inline-block;
  margin:  0 5px;
  font-size: 1.3rem;
  font-weight: 700;
  color: $base-gray;
  
}

.sort-active {
  color: $base-blue;
}



.sorting__options {
  background: white;
  position: absolute;
  top: 33px;
  right: -15px;
  width: 90px;
  z-index: 300;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px 0 #1c1c1c33;
          box-shadow: 0 2px 4px 0 #1c1c1c33;
  overflow: hidden;
  
}

.bi-caret-down-fill {
  color: $base-gray;
}

.sorting__item {
  padding: 15px 10px;
  width: 100%;
  height: 100%;
}

.sorting__item:hover {
  background: rgb(216, 216, 216);
}


.sorting__header {
  display: inline-block;
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-size: 1.1.9rem;
  color: $base-gray;
  margin-right: 10px;
  
}


.sorting__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}


}

.related-take {
  padding: 16px 16px 0 16px;
}

.spinner-container {
  text-align: center;
  padding: 16px 0 32px 0;

  .spinner-border {
      height: 28px;
      width: 28px;
      color: #333333;
  }
}

.sort-spinner {
        
  margin-left: 20px;
  height: 15px;
  width: 15px;
  color: #7b7b7b;
}

.disabled {
  opacity: .6;
}

.no-comments {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: .5;

  .no-comments__icon {

      path {
          fill: $base-blue
      }

      height: 27px !important;
      width: 32px;
      padding: 2px; 

  }

  .no-comments__header {
      font-size: 2rem;
      margin: 10px 0;
  }

  .no-comments__opinion {
      font-size: 1.6rem;
  }



}

.login-text {
  font-size: 1.6rem;
  color: $base-gray;
  font-weight: 500;
}


.login-comment {
  display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
  align-items: center;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
  justify-content: space-between;

  align-items: center;
border-radius: 4px;
border: 1px solid #dcdddf;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: justify;
justify-content: space-between;
padding: 15px 10px;
margin-bottom: 50px;
}



.login-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.login {
  height: 34px;
margin-right: 15px;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox; display: flex;
align-items: center;
justify-content: center;
font-weight: 700;
font-size: 1.2rem;
border: 1px solid $base-blue;
color: $base-blue;
padding: 0 20px;
border-radius: 5px;
cursor: pointer;
text-transform: uppercase;
}


.login:hover {
      
  background: rgba(64, 97, 211, 0.31);
}

.signup {

  height: 34px;
  display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox; display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.2rem;
  border: 1px solid $base-blue;
  background: $base-blue;
  color: white;
  padding: 0 20px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;

  a {
      display: inline-block;
      margin-top: 1px;
  }
}

.signup:hover {

  background: #93a8ec;
  border: 1px solid #93a8ec;
  

}

@media only screen and (max-width: 800px) {
  .add-comment-user {
    display: none;
}
}

@media only screen and (max-width: 800px) {
  .background-container {

  padding-top: 0px;

  }

  .login-buttons {
     
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;

    button {
      height: 38px !important;
    }


    }

    .login {
        margin-right: 0px;
        margin-bottom: 5px;
        width: 100%;
        padding: 2px;
    }

  .take-container {
    border-radius: 0px;
  }

  .discussion {
    p {
        margin: 0;
        font-size: 1.9rem !important;
        
    }
  
    
  }

  .add-comment-user {
    display: none;
}
}


}