/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.guidelines {
    padding: 50px;
    background: white;
 
    border-radius: 5px;
    font-size: 1.6rem;
    width: 80%;
margin: 30px auto;
    h1 {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 600px) {
  .guidelines{
        padding: 16px;
        background: white;
        margin: 5px;
        border-radius: 5px;
    }
}