<div class="guidelines">
    <h1>Community Guidelines</h1>

    <p>As passionate sports fans, it is important to express your opinions about any topic; this is the main reason why we created this platform. But sometimes, sports discussions may get heated and can reach a point where we offend with our way of communicating. To avoid reaching these levels, it is important to be polite and respectful towards others. For those who can’t behave we have created some rules. In the case that these rules are broken, our moderation team will take appropriate measures with users who do not comply.
    </p>
    <p><b> What will get my account suspended?</b></p>
    <ol>
        <li>Attacking the person or fanbase, not the argument.</li>
        <li>Language that degrades the person (race, religion, gender, age, etc).
        </li>
        <li>Cyberbulling of any kind.</li>
        <li>Inappropriate username, profile, bio, profile picture or cover photo.</li>
        <li>Offensive language or profanity.</li>
        <li>Conduct that incites violence.</li>
        <li>Trolling.</li>
        <li>Spamming.</li>
        <li>Illegal material.</li>
        <li>Promote brands, products, websites, or social accounts.</li>
       
    </ol>

</div>