<div class="container-c">
    <div class="home-container">
        <div class="title-container">
            <img class="logo" src="assets/imgs/dtg-icon.png" alt="">
            <h1>TALK SPORTS</h1>
            <p>Community-powered platform for sports fans</p>
        </div>
        <div class="app-container">
            <div class="download">
                <div class="iphone">
                    <img class="app-iphone" src="assets/imgs/app.png" alt="">
                </div>
            </div>
            <div class="create">
                <div class="stores">
                    <span class="get">DOWNLOAD Discuss the Game</span>
                    <div class="app-logos">
                        <img src="assets/imgs/gp.png" alt="" (click)="googleplay()">
                        <img src="assets/imgs/appstore.png" alt="" (click)="appstore()">
                    </div>

                </div>
                <div class="editor">
                    <span class="get">ALREADY A USER? START CREATING!</span>
                    <br>
                    <div class="editor-btn" (click)="editor()">
                        GO TO TEXT EDITOR
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<footer class="footer-distributed">

    <div class="footer-right">

        <!-- <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a> -->

    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a routerLink="/legal/privacy-policy">Privacy Policy</a>
            ·
            <a routerLink="/legal/terms-of-use">Terms of Use</a>
            ·
            <a routerLink="/legal/guidelines">Community Guidelines</a>
            ·
            <a routerLink="/legal/rules">Posting Rules</a>
            ·

            <a href="mailto:support@discussthegame.com?Subject=Contact" target="_top">Contact</a>
        </p>

        <p>Weblom, Inc &copy; 2020</p>
    </div>

</footer>