<div class="teams-container min-height">
   
    <h4>Play</h4>
    <button *ngIf="!add" class="btn btn-primary ml-5" (click)="add = true"> Add play item</button>
    <i *ngIf="add" id="close-add" class="fa fa-times-circle" (click)="add = false"></i>
    <form *ngIf="add" (ngSubmit)="submit(addForm.value)" [formGroup]="addForm" novalidate>
        <div class="form-group">
            <label for="revealAnswer">Type:</label>
            <select class="form-control" id="type" formControlName="type">
                <option value="trivia">Trivia</option>
                <option value="pick">Pick</option>
            </select>
        </div>
        <div class="form-group">
            <label for="logo">Question:</label>
            <input id="logo" type="text" placeholder="Enter a question" formControlName="question"
                class="form-control" />
        </div>
        <div class="form-group ">
            <label for="logo">Options:</label>
            <div formArrayName="options" *ngFor="let option of formData.controls; let i = index;"
                class="poll-flex">
                <div [formGroupName]="i" class="poll-group">
                    <label class="col-form-label poll-labels col-sm-2">
                        <span class="inner-no">{{i + 1}}</span>
                    </label>
                    <div class="poll-values col-sm-5">
                        <input formControlName="option" type="text" autocapitalize="on"
                            autocomplete="off" class="form-control"  placeholder="Option"
                            [attr.maxlength]=30>
                            <input formControlName="picture" type="text"autocapitalize="on"
                            autocomplete="off" class="form-control" placeholder="Picture"
                            >
                    </div>
                    <span *ngIf="i > 1" (click)="deleteOption(i)" class="delete-option">x</span>
                </div>

            </div>

            <div id="add-button-item">
                <button type="button" class="btn btn-outline-dark btn-sm" (click)="addOption()">Add another
                    option</button>
            </div>
        </div>

        <div class="form-group">
            <label for="correctOption">Correct Option:</label>
            <select class="form-control" id="correctOption" formControlName="correctOption">
                <option *ngFor="let option of formData.controls; let i = index;" [value]="i">Option {{i + 1}}</option>

            </select>
        </div>
        <div class="form-group">
            <label for="league">League:</label>
            <select class="form-control" id="league" formControlName="league">
                <option>NBA</option>
                <option>NFL</option>
                <option>Soccer</option>
                <option>NHL</option>
                <option>MLB</option>
                <option>NCAAB</option>
                <option>NCAAF</option>
                <option>Test</option>
            </select>
        </div>
        <div *ngIf="updated" class="alert alert-success" role="alert">
            The team has been added to the DB.
        </div>
        <!-- <div *ngIf="error" class="alert alert-danger" role="alert">
                There was a problem when adding the team to the DB.
        </div> -->
        <button *ngIf="!loading" type="submit" [disabled]="!addForm.valid" class="btn btn-primary block">Add
            play item</button>
        <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-fw"></i>
    </form>
    
    <ul class="t-detail" *ngIf="!add">
        <trivia-item *ngFor="let trivia of trivias" [trivia]="trivia"></trivia-item>
    </ul>
</div>